.menu-top-game {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 20px;
}
.item-top-game {
  height: 160px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 144px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}
.img-game {
  height: 80px;
  width: 80px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 6px;
}
.img-game > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.name-top-game {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px;
  margin-top: 4px;
  max-width: 110px;
}
.number-lives {
  color: #999;
  font-size: 12px;
}
.n-as-fs30:hover {
  color: hsla(0, 0%, 100%, 0.6);
  cursor: pointer;
}
.menu-top-game:hover {
  cursor: pointer;
}
